apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vaultwarden-data
  namespace: services
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path # k3s default
  resources:
    requests:
      storage: 5Gi
