name: "Base Checks"

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v31
        with: 
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Check Flake
        run: |
          nix flake check

      - name: Format check (alejandra)
        run: |
          nix run nixpkgs#alejandra -- --check .
